# Mongo
MONGO_URI=mongodb://localhost:27017/doc-clf

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# MinIO
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_SSL=false

# Buckets
MINIO_BUCKET_ORIGINAL=documents-original
MINIO_BUCKET_PROCESSED=documents-processed
